 <div class="wrapper">
   <div class="prefectures">
     <div class="company-post">
       <div class="company-post__inner">
         <%= form_for(@company ,url:  admins_company_path(@company)) do |f| %>
         <div class="company-post__title">
           <h2>掲載企業を追加</h2>
         </div>
         <div class="company-post__items">
           <div>都道府県を選択</div>
           <%= f.select :prefecture_id, Prefecture.prefecture_names %>
           <div>会社名</div>
           <%= f.text_field :company_name %>
           <div>所在地</div>
           <%= f.text_field :address %>
           <div>電話番号</div>
           <%= f.text_field :phone_number ,placeholder: "ハイフンなし" %>
           <div>説明文を記入</div>
           <%= f.text_area :description ,class: 'description-area'%>
           <div>
             <%= f.label :画像 %><br />
             <%= f.file_field :image, class: "image" %>
           </div>
         </div>
         <%= f.submit 'Save!' , class: "btn solid"%>
         <% end %>
       </div>
     </div>
   </div>
 </div>