<div class="wrapper">
  <div class="review" style="border:none;">
    <div class="review__inner">
      <% if @reviews.present? %>
      <% @reviews.each do |review| %>
      <div class="review__items">
        <div class="personal">
          <%= review.user.name %>・
          <%= review.gender %>・
          <%= review.employment_status %>
        </div>
        <div class="star-rating mb-2">
          <div class="star-rating-front" style="width: <%= review.self_score_percentage %>%">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
        </div>

        <div><%= review.score %>点</div>
        <div><%= review.comment %></div>
        <div class="review-time"><%= review.created_at.strftime("%Y年%m月%d日")  %></div>

        <div class="useronly">
          <%= link_to "削除", admins_company_post_comment_path(review.company.id,review), method: :delete %>
        </div>

      </div>
      <% end %>
      <% else %>
      <div>レビューはありません。</div>
      <% end %>
    </div>
  </div>
</div>