<div class="wrapper">

  <div class="profile-edit">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="profile-edit__inner">

      <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true, method: :patch do |f| %>

      <div class="profile">
        <img id="profile-img-prev" src="#" class='hidden' />
        <% if @user.profile_image.url.nil? %>
        <div class="profile__default-img"></div>
        <% else %>
        <%= image_tag @user.profile_image.url, class: "profile__img", id: "profile-img" %>
        <% end %>
        <label class="profile__img-upload">
          <%= f.file_field :profile_image, id: "profile_image_upload" %>ファイルを選択
        </label>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレス" %>
      </div>

      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
      </div>

      <div class="form-group">
        <%= f.text_area :self_introduction, class: "form-control", placeholder: "紹介文" %>
      </div>


      <div class="user-edit__submit-btn">
        <%= f.submit "保存", class: "btn btn-block text-white filled" %>
      </div>
      <% end %>

    </div>
  </div>
</div>