<div class="wrapper">
  <div class="community-show">
    <div class="user-show-page">

      <div class="profile">
        <% if @user.profile_image? %>
        <%= image_tag @user.profile_image.url, class: "profile__img" %>
        <% else %>
        <div class="profile__default-img"></div>
        <% end %>
        <div class="profile__name">
          <%= @user.name %>
        </div>
        <div class="profile__text">
          <%= @user.self_introduction %>
        </div>
        <%= link_to 'チャット', chat_rooms_path(params: { user_id: @user.id }), method: :post %>

      </div>
      <% if @user.id == current_user.id %>
      <div class="user-action">
        <div class="user-action-common">
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt fa-2x"></i>
          <% end %>
          <span>ログアウト</span>
        </div>
        <div class="user-action-common">
          <%= link_to edit_user_registration_path do %>
          <i class="fas fa-pencil-alt fa-2x"></i>
          <% end %>
          <span>情報を編集<span>
        </div>
      </div>
      <% end %>
    </div>

    <% @communities.each do |community| %>
    <div class="communities" id="community-<%= community.id %>">
      <% if community.user.profile_image? %>
      <div>
        <%= image_tag community.user.profile_image.url, class: "users-img" %>
        <div><%= community.user.name %></div>
      </div>
      <% else %>
      <div class="profile__default-img"></div>
      <div><%= community.user.name %></div>
      <% end %>
      <div class="communities__comment"><%= community.body %> </div>
      <div class="communities__strftime"><%= community.created_at.strftime('%Y/%m/%d %H:%M:%S')  %></div>
      <% if community.user_id == current_user.id %>
      <%= link_to community_path(community)  ,method: :delete , remote: true, data: {confirm: "Are you sure?"}  do %>
      <i class="fas fa-trash"></i>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>