 <div class="wrapper">
   <div class="prefectures">
     <% if @contact.errors.any? %>
     <%= @contact.errors.count %>件のエラー。
     <% @contact.errors.full_messages.each do |message| %>
     <%= message %>。
     <% end %>
     <% end %>
     <div class="company-post">
       <div class="company-post__inner">
         <%= form_for(@contact) do |f| %>
         <div class="company-post__title">
           <h2>お問い合わせフォーム</h2>
         </div>
         <div class="company-post__items">
           <div>件名</div>
           <%= f.text_field :title %>
           <div>内容</div>
           <%= f.text_area :body ,class: 'description-area'%>
         </div>
         <%= f.submit 'Send', class: 'btn solid'%>
         <% end %>
       </div>
     </div>
   </div>
 </div>