<div class="wrapper">
  <div class="prefectures">
    <div class="prefectures__company">
      <div class="prefectures__img">
        <%= attachment_image_tag @company,:image,  format: 'jpeg', fallback: "no-image.jpg" %>

      </div>
      <div class="prefectures__texts">
        <div class="prefectures__texts-inner">
          <div class="main-title"><%= @company.company_name %></div>
          <div>本社所在地 :<%= @company.address %></div>
          <div>電話番号 :<%= @company.phone_number %></div>
          <div>ホームページ :<%= @company.url %></div>
          <div>概要 :<%= @company.description %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="review-btn">
  <button class="btn solid"><%= link_to "レビューを書く", new_company_post_comment_path(@company) %></button>
</div>
<div class="review">
  <div class="review__inner">
    <% @company.post_comments.each do |comment| %>
    <div class="review__items">
      <div><%= comment.nick_name %>・
        <%= comment.gender %>・
        <%= comment.employment_status %>
      </div>
      <div><%= comment.comment %></div>
      <div class="review-time"><%= comment.created_at.strftime("%Y年%m月%d日")  %></div>
    </div>
    <% end %>

  </div>
</div>