<div id="content">
  <div class="hero">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="hero__title">転職先を見つけよう</div>
          <%= image_tag  asset_path('Search.jpg') %>
        </div>
        <div class="swiper-slide">
          <div class="hero__title">My Calendar</div>
          <%= image_tag  asset_path('Calendar.jpg') %>
        </div>
        <div class="swiper-slide">
          <div class="hero__title">Todo List</div>
          <%= image_tag  asset_path('Todo.jpg') %>
        </div>
        <div class="swiper-slide">
          <div class="hero__title">Reviews</div>
          <%= image_tag  asset_path('Review.jpg') %>
        </div>
        <div class="swiper-slide">
          <div class="hero__title">Memo</div>
          <%= image_tag  asset_path('Memo.jpg') %>
        </div>
      </div>
      <div class="hero__footer">
        <%= image_tag  asset_path('arrow.svg') ,class: "hero__downarrow" %>
        <span class="hero__scrolltext">scroll</span>
      </div>
    </div>
  </div>
  <div id="main-content">
    <aside class="side left">
      <div class="side__inner">
        <a class="twitter icon animate-title" href="https://twitter.com/home?lang=ja">Twitter</a>
      </div>
    </aside>
    <main>
      <section class="about">
        <div class="about__inner">
          <div class="about__img cover-slide ">
            <%= image_tag asset_path('faq.jpg'), class:"img-zoom" %>
          </div>
          <div class="about__texts appear right">
            <div class="about__texts-inner">
              <div class="about__title main-title item">
                <span>Let's ChangeWork</span>
              </div>
              <div class="about__description item">
                <p>プログラマーの転職を効率的に。</p>
                <p>きっとあなたに合った会社があります</p>
              </div>
              <div class="item">
                <%= link_to "当サイトについて",  homes_about_path ,class:"btn slide-bg"  %>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="company">
        <div>
          <h2 class="main-title animate-title">Company</h2>
          <p class="sub-title">転職先を探そう</p>
        </div>
        <div class="company__inner appear">
          <%= link_to prefecture_path(13) do %>
          <div class="company__item">
            <div>
              <%= image_tag asset_path('tokyo.jpg') ,class: "img-zoom" %>
            </div>
            <p>東京都</p>
            <% end %>
          </div>
          <%= link_to prefecture_path(27) do %>
          <div class="company__item">
            <div>
              <%= image_tag asset_path('osaka.jpg') ,class: "img-zoom" %>
            </div>
            <p>大阪府</p>
            <% end %>
          </div>
          <%= link_to  prefecture_path(14) do %>
          <div class="company__item">
            <div>
              <%= image_tag asset_path('kanagawa.jpg') ,class: "img-zoom" %>
            </div>
            <p>神奈川県</p>
            <% end %>
          </div>
          <%= link_to prefecture_path(40) do %>
          <div class="company__item">
            <div>
              <%= image_tag  asset_path('fukuoka.jpg') ,class: "img-zoom" %>
            </div>
            <p>福岡県</p>
            <% end %>
          </div>
          <%= link_to prefecture_path(1) do %>
          <div class="company__item">
            <div>
              <%= image_tag asset_path('hokkaido.jpg') ,class: "img-zoom" %>
            </div>
            <p>北海道</p>
            <% end %>
          </div>
          <%= link_to prefecture_path(23) do %>
          <div class="company__item">
            <div>
              <%= image_tag asset_path('aichi.jpg') ,class: "img-zoom" %>
            </div>
            <p>愛知県</p>
            <% end %>
          </div>
          <%= link_to "全国から探す", prefectures_path, class: "btn filled"%>
        </div>
      </section>

      <section class="about">
        <div class="about__inner">
          <div class="about__img cover-slide ">
            <%= image_tag asset_path('community.jpg'), class:"img-zoom" %>
          </div>
          <div class="about__texts appear right">
            <div class="about__texts-inner">
              <div class="about__title main-title item">
                <span>Community Square</span>
              </div>
              <div class="about__description item">
                <p>近況をみんなに報告</p>
                <p>気になる人にはチャットしよう！</p>
              </div>
              <div class="item">
                <%= link_to "広場に参加", communities_path ,class:"btn slide-bg"  %>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="job-site">
        <header>
          <h2 class="main-title animate-title">Task management</h2>
          <p class="sub-title">自分に合ったタスク管理ツールを使おう！</p>
        </header>
        <div class="job-site__inner appear up">
          <div class="job-site__container">
            <div class="job-site__item item">
              <%= link_to events_path do%>
              <div class="job-site__img">
                <%= image_tag asset_path('calendar2.jpg') %>
              </div>
              <div class="job-site__title">Calendar</div>
              <% end %>
            </div>
            <div class="job-site__item item">
              <%= link_to homes_task_path do%>
              <div class="job-site__img">
                <%= image_tag asset_path('todo2.jpg') %>
              </div>
              <div class="job-site__title">Todo List</div>
              <% end %>
            </div>
            <div class="job-site__item item">
              <%= link_to homes_memo_path do%>
              <div class="job-site__img">
                <%= image_tag asset_path('memo2.jpg') %>
              </div>
              <div class="job-site__title">Memo</div>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    </main>
    <aside class="side right">
      <div class="side__inner">
        <a class="facebook icon animate-title" href="https://ja-jp.facebook.com/">Facebook</a>
      </div>
    </aside>
  </div>
</div>