<div class="wrapper">
  <div class="prefectures">
    <div class="prefectures-show">
      <span class="back-link">
        <%= link_to prefectures_path do %>
        <i class="fas fa-undo-alt"></i>都道府県一覧ページ
        <% end %>
      </span>

      <% @companies.each do |company| %>
      <div class="prefectures__company">
        <div class="prefectures__img">
          <% if company.image? %>
          <%= image_tag company.image.url %>
          <% else %>
          <%= image_tag "no-image.jpg" %>
          <% end %>
          <div class="star-rating">
            <div class="star-rating-front" style="width: <%= company.review_score_percentage %>%">★★★★★</div>
            <div class="star-rating-back">★★★★★</div>
          </div>
          <div class="average-score-display">
            <%= company.avg_score %>点（<%= company.post_comments.count %>件のレビュー）
          </div>
          <button class="btn solid"><%= link_to '詳しく見る', company_path(company) %>
        </div>
        <div class="prefectures__texts">
          <div class="prefectures__texts-inner">
            <div class="main-title"><%= company.company_name %></div>
            <div>本社所在地 :<%= company.address %></div>
            <div>電話番号 :<%= company.phone_number %></div>
            <div>言語 :
              <% company.language_tags.each do |tag| %>
              <span class="language"><%= tag.language  %></span>
              <% end %>
            </div>
            <div>フレームワーク :
              <% company.framework_tags.each do |tag| %>
              <span class="language"><%= tag.framework  %></span>
              <% end %>
            </div>
            <div>概要 :<%= company.description %></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>