<div class="wrapper">
  <div class="prefectures row">
    <div class="col-lg-8">
      <%= link_to '掲載企業の追加・編集',new_admins_company_path , class: "btn solid" %>

      <div class="prefectures__inner">
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>北海道・東北</span>
          </div>
          <ul class="prefectures__ul">
            <li> <%= link_to "北海道", admins_prefecture_path(1) %></li>
            <li> <%= link_to "青森県", admins_prefecture_path(2) %></li>
            <li><%= link_to "岩手県", admins_prefecture_path(3) %></li>
            <li><%= link_to "宮城県", admins_prefecture_path(4) %></li>
            <li><%= link_to "秋田県", admins_prefecture_path(5) %></li>
            <li><%= link_to "山形県", admins_prefecture_path(6) %></li>
            <li><%= link_to "福島県", admins_prefecture_path(7) %></li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>関東</span>
          </div>
          <ul class="prefectures__ul">
            <li><%= link_to "東京都", admins_prefecture_path(13) %></li>
            <li><%= link_to "神奈川県", admins_prefecture_path(14) %></li>
            <li><%= link_to "千葉県", admins_prefecture_path(12) %></li>
            <li><%= link_to "埼玉県", admins_prefecture_path(11) %></li>
            <li><%= link_to "茨城県", admins_prefecture_path(8) %></li>
            <li><%= link_to "栃木県", admins_prefecture_path(9) %></li>
            <li><%= link_to "群馬県", admins_prefecture_path(10) %></li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>中部</span>
          </div>
          <ul class="prefectures__ul">
            <li><%= link_to "愛知県", admins_prefecture_path(23) %></li>
            <li><%= link_to "山梨県", admins_prefecture_path(15) %></li>
            <li><%= link_to "長野県", admins_prefecture_path(16) %></li>
            <li><%= link_to "新潟県", admins_prefecture_path(17) %></li>
            <li><%= link_to "富山県", admins_prefecture_path(18) %></li>
            <li><%= link_to "石川県", admins_prefecture_path(19) %></li>
            <li><%= link_to "福井県", admins_prefecture_path(20) %></li>
            <li><%= link_to "岐阜県", admins_prefecture_path(21) %></li>
            <li><%= link_to "静岡県", admins_prefecture_path(22) %></li>
            <li><%= link_to "三重県", admins_prefecture_path(24) %></li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>関西</span>
          </div>
          <ul class="prefectures__ul">
            <li><%= link_to "大阪府", admins_prefecture_path(27) %></li>
            <li><%= link_to "京都府", admins_prefecture_path(26) %></li>
            <li><%= link_to "滋賀県", admins_prefecture_path(25) %></li>
            <li><%= link_to "兵庫県", admins_prefecture_path(28) %></li>
            <li><%= link_to "奈良県", admins_prefecture_path(29) %></li>
            <li><%= link_to "和歌山県", admins_prefecture_path(30) %></li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>中国・四国</span>
          </div>
          <ul class="prefectures__ul">
            <li><%= link_to "広島県", admins_prefecture_path(34) %></li>
            <li><%= link_to "鳥取県", admins_prefecture_path(31) %></li>
            <li><%= link_to "島根県", admins_prefecture_path(32) %></li>
            <li><%= link_to "岡山県", admins_prefecture_path(33) %></li>
            <li><%= link_to "山口県", admins_prefecture_path(35) %></li>
            <li><%= link_to "徳島県", admins_prefecture_path(36) %></li>
            <li><%= link_to "香川県", admins_prefecture_path(37) %></li>
            <li><%= link_to "愛媛県", admins_prefecture_path(38) %></li>
            <li><%= link_to "高知県", admins_prefecture_path(39) %></li>
          </ul>
        </div>
        <div class="prefectures__group">
          <div class="prefectures__group-title">
            <span>九州・沖縄</span>
          </div>
          <ul class="prefectures__ul">
            <li><%= link_to "福岡県", prefecture_path(40) %></li>
            <li><%= link_to "滋賀県", prefecture_path(41) %></li>
            <li><%= link_to "長崎県", prefecture_path(42) %></li>
            <li><%= link_to "熊本県", prefecture_path(43) %></li>
            <li><%= link_to "大分県", prefecture_path(44) %></li>
            <li><%= link_to "宮城県", prefecture_path(45) %></li>
            <li><%= link_to "鹿児島県", prefecture_path(46) %></li>
            <li><%= link_to "沖縄県", prefecture_path(47) %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="search-box col-lg-4 item">
      <div class="search-box__inner">
        <div class="name-search">
          <%= form_tag(admins_prefectures_search_path, :method => "get") do %>
          <%= text_field_tag :search ,'', placeholder: "会社名を入力"%>
          <%= submit_tag "Search" %>
          <% end %>
        </div>
        <div class="tag-search">
          <%= form_tag( admins_prefectures_search_path, :method => "get") do %>
          <%= select_tag :language_tag_id,  options_from_collection_for_select(@languages, :id, :language, params[:language_tag_id]), prompt:  'プログラミング言語で絞り込み' %>
          <%= submit_tag "Search" %>
          <% end %>

          <%= form_tag(admins_prefectures_search_path, :method => "get") do %>
          <%= select_tag :framework_tag_id,  options_from_collection_for_select(@frameworks, :id, :framework, params[:framework_tag_id]), prompt:  'フレームワークで絞り込み'%>
          <%= submit_tag "Search" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>