<h1 class="main-title">Community Square</h1>
<button type="button" class="btn float index-btn" data-toggle="modal" data-target="#exampleModal">
  投稿する
</button>
<button type="button" class="btn float" data-toggle="modal" data-target=".bd-example-modal-xl">User
  一覧</button>
<% communities.each do |community| %>
<div class="communities" id="community-<%= community.id %>">
  <%= link_to user_path(community.user_id) do %>
  <% if community.user.profile_image? %>
  <div>
    <%= image_tag community.user.profile_image.url, class: "users-img" %>
    <div><%= community.user.name %></div>
  </div>
  <% else %>
  <div class="profile__default-img"></div>
  <div><%= community.user.name %></div>
  <% end %>
  <% end %>

  <div class="communities__comment"><%= community.body %> </div>
  <div class="communities__strftime"><%= community.created_at.strftime('%Y/%m/%d %H:%M:%S')  %></div>



  <% if community.user_id == current_user.id %>
  <%= link_to community_path(community)  ,method: :delete , remote: true, data: {confirm: "Are you sure?"}  do %>
  <i class="fas fa-trash"></i>
  <% end %>
  <% end %>

  <div id="like_<%= community.id %>">
    <%= render partial: 'likes/like', locals: { community: community } %>
  </div>
</div>
<% end %>